#range_input {
	height: 48px;
	background: #222;
	cursor: e-resize;
}

#range_input input,
#progress_indicator input {
	display: none;
}

#range_input .range-slider__range {
	background: #bbb;
	opacity: 50%;
	cursor: grab;
}

#range_input .range-slider__thumb {
	width: 0;
	height: 48px;
	border-radius: 0;
	background: #bbb;
	border: 1px solid white;
}

#progress_indicator {
	height: 12px;
	background: none;
	cursor: e-resize;
}

#progress_indicator .range-slider__thumb[data-lower] {
	width: 0;
	display: none;
}

/* #progress_indicator .range-slider__range {
	display: none;
} */

#progress_indicator .range-slider__thumb[data-upper] {
	width: 0;
	height: 12px;
	border-radius: 0;
}
